<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/assets/weathericon.png">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Help</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h2>{{helpMessage}}</h2>
        </div>
        {{>footer}}
    </body>
</html>