<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/assets/weathericon.png">
    <link rel="stylesheet" href="/css/styles.css">
    
    <title>Home</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Weather Data</p>
        <form>
            <input placeholder="Location">
            <button >Search</button>
        </form>

        <p id="message1">
        </p>
        <p id="message2">
        </p>
        <p id="message3">
        </p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>