<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/assets/weathericon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>404 - Error</title>
</head>

<body>
    {{>header}}
    {{errorMessage}}
</body>

</html>