@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: 'Hubballi', cursive;
    font-size: 24px;
    max-width: 650px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    letter-spacing: 4px;
    font-family: 'Fredoka', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.nav {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

a {
    letter-spacing: 3px;
    display: inline-block;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    color: black;
}

.main-content {
    flex-grow: 1;
}

#message1, #message2, #message3 {
    font-size: 20px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

footer {
    border-top: 3px solid rgba(128, 128, 128, 0.212);
    font-size: 16px;
    color: grey;
    padding: 20px;
    padding-left: 0px;
    margin-top: 20px;
}
